@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="display-4">Welcome to Contoso Pizza</h1>

<p class="lead">The best pizza in town for @Convert.ToInt32(DateTime.Now - new DateTime(2018, 8, 14)) days!</p>
